<form class="add-new-comment-section">
	<textarea id="comment-text" class="add-new-comment-text"></textarea>
	<div>
		<button id="create-comment" class="create-button" data="{{blog.id}}">Add new
			comment</button>
	</div>
</form>