<nav class="navigation-bar-container">
	<section class="navigation-buttons">
		<a href="/" class="nav-btn">Homepage</a>
	</section>
	<section class="navigation-buttons">
		<a href="/dashboard" class="nav-btn">Dashboard</a>
		<button class="nav-btn btn-spacing">Logout</button>
	</section>
</nav>