<nav class="navigation-bar-container">
	<section class="navigation-buttons">
		<a href="/" class="nav-btn">Homepage</a>
	</section>
	<section class="navigation-buttons">
		<a href="/login" class="nav-btn">Login</a>
		<a href="/sign-up" class="nav-btn btn-spacing">Sign Up</a>
	</section>
</nav>