<main>
	<section class="content-wrapper blog-comments-wrapper">
		<section class="blog-card">
			<section class="blog-content">
				<div class="title">
					<h2>Featured Post</h2>
				</div>
				<div class="date">
					<h6>01/01/2022</h6>
				</div>
				<div class="blog-text">
					<h3>
						This is a wider card with supporting text below as a natural lead-in
						to additional content. This is a wider card with supporting text
						below as a natural lead-in to additional content. This is a wider
						card with supporting text below as a natural lead-in to additional
						content.This is a wider card with supporting text below as a natural
						lead-in to additional content. This is a wider card with supporting
						text below as a natural lead-in to additional content. This is a
						wider card with supporting text below as a natural lead-in to
						additional content.
					</h3>
				</div>
				<div class="blog-link view-blog-links">
					Created by: Whoever
				</div>
			</section>
			<section class="blog-thumbnail">
				<div class="thumbnail">
					<a href="https://placeholder.com"><img
							src="https://via.placeholder.com/150"
						/></a>
				</div>
			</section>
		</section>
		<section class="comment-section">
			<h1>Comments</h1>
			<section class="comment">
				<h1>Username</h1>
				<p class="comment-content">Comment content</p>
			</section>
			<section class="comment">
				<h1>Username</h1>
				<p class="comment-content">Comment content</p>
			</section>
			<section class="comment">
				<h1>Username</h1>
				<p class="comment-content">Comment content</p>
			</section>
		</section>
	</section>
</main>