<main>
	<section class="content-wrapper">
		<section>
			<div class="create-new-blog-title">
				<h2>Create New Blog</h2>
			</div>
			<form class="create-form">
				<div class="content-spacing">
					<h3>Enter a Blog Title</h3>
					<input type="text" placeholder="Title" />
				</div>

				<div class="content-spacing">
					<h3>Enter Blog's Content</h3>
					<textarea
						class="create-content"
						type="text"
						placeholder="Content"
					></textarea>
				</div>

				<button class="create-button">Create Blog</button>
			</form>
		</section>
	</section>
</main>