<main>
	<section class="dashboard-hero">
		<h1>My Dashboard</h1>
	</section>
	<section class="content-wrapper">
		<section class="blog-card">
			<section class="blog-content">
				<div class="title">
					<h2>Featured Post</h2>
				</div>
				<div class="date">
					<h6>01/01/2022</h6>
				</div>
				<div class="blog-text">
					<h3>
						This is a wider card with supporting text below as a natural lead-in
						to additional content. This is a wider card with supporting text
						below as a natural lead-in to additional content. This is a wider
						card with supporting text below as a natural lead-in to additional
						content.This is a wider card with supporting text below as a natural
						lead-in to additional content. This is a wider card with supporting
						text below as a natural lead-in to additional content. This is a
						wider card with supporting text below as a natural lead-in to
						additional content.
					</h3>
				</div>
				<div class="blog-link dashboard-blog-links">
					<a
						href="/edit-blog/:id"
						class="edit-button"
						style="padding: 0.6rem;"
					>Edit Blog</a>
					<button class="delete-button">Delete Blog</button>
				</div>
			</section>
			<section class="blog-thumbnail">
				<div class="thumbnail">
					<a href="https://placeholder.com">
						<img src="https://via.placeholder.com/150" />
					</a>
				</div>
			</section>
		</section>
	</section>
</main>