<header>
	{{> privateNavbar}}
</header>

<main>
	<section class="content-wrapper">
		<section>
			<div class="create-new-blog-title">
				<h2>Edit Blog</h2>
			</div>
			<form class="create-form">
				<div class="content-spacing">
					<h3>Enter a Blog Title</h3>
					<input id="blog-title" type="text" placeholder="Title" value="{{blog.title}}" />
				</div>

				<div class="content-spacing">
					<h3>Enter Blog's Content</h3>
					<textarea
						id="blog-content"
						class="create-content"
						type="text"
						placeholder="Content"
					>{{blog.content}}</textarea>
				</div>

				<button id="update-button" class="create-button" data="{{blog.id}}">Update Blog</button>
			</form>
		</section>
	</section>
</main>