<header>
	{{#if loggedIn}}
  	{{> privateNavbar}}
  	{{else}}
  	{{> publicNavbar}}
 	{{/if}}
</header>

<main>
	<section class="content-wrapper">
		{{#if blog}}
		{{> blogCard}}
		{{else}}
		<section class="no-blogs-hero">No blogs posted</section>
		{{/if}}
	</section>
</main>