<main>
	<section class="content-wrapper">
		<form id="signup-form" class="form">
			<h2>Sign Up</h2>

			<section class="signup-name-control">
				<input
					id="first-name-input"
					class="first-name"
					type="text"
					placeholder="First Name"
				/>
				<input
					id="last-name-input"
					class="last-name"
					type="text"
					placeholder="Last Name"
				/>
			</section>

			<section class="signup-control">
				<input id="email-input" type="email" placeholder="Email Address" />
			</section>

			<section class="signup-control">
				<input
					id="password-input"
					class="signup-password"
					type="password"
					placeholder="Password"
				/>
				<input
					id="confirm-password-input"
					class="signup-confirm"
					type="password"
					placeholder="Confrim Password"
				/>
			</section>

			<button class="form-button" type="submit">Create an Account</button>
			<p>© 2021–2022</p>
		</form>
	</section>
</main>