:root {
    --clr-background: #c2d0e9;
    --clr-navigation-bar: #2b2d42;
    --clr-navigation-btn: #edf2f4;
    --clr-blog-background: #ffffff;
    --clr-border: #8d99ae;
    --clr-hover: #ef233c;
    --clr-form-hover: #d00023;
}


/* Main Styles */

body {
    background-color: var(--clr-background);
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    font-weight: normal;
}

h6 {
    color: gray;
    font-style: italic;
    font-size: 0.8rem;
}

input {
    padding: 0.5rem;
    height: 3rem;
    border: 1px solid #ced4da;
    width: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
}


/* Navigation Bar Styles */

.navigation-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    background-color: var(--clr-navigation-bar);
    color: var(--clr-navigation-btn);
}

.navigation-buttons {
    justify-content: space-evenly;
    padding: 1.5rem;
}

.nav-btn:hover {
    transition: all 0.5s ease-out;
    color: var(--clr-hover);
}

.btn-spacing {
    margin-left: 1.5rem;
}


/* Blog Card Styles */

.blog-card {
    display: flex;
    border-radius: 3px;
    background-color: var(--clr-blog-background);
}

.blog-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.blog-thumbnail {
    padding-right: 1rem;
    margin: auto 0;
}

.blog-text {
    padding-bottom: 0.8rem;
}

.blog-link {
    text-decoration: underline;
    border-top: 1px solid var(--clr-hover);
    padding-top: 1rem;
}

.link-styling:hover {
    transition: all 0.3s ease-out;
    color: var(--clr-hover);
}


/* Form Styles */

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    gap: 1rem;
}

.form .input-control input[type="email"] {
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}

.form .input-control input[type="password"] {
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.form-button {
    cursor: pointer;
    height: 2.5rem;
    border-radius: 0.3rem;
    color: var(--clr-navigation-btn);
    background: var(--clr-hover);
}

.form-button:hover {
    background: var(--clr-form-hover);
}

@media all and (max-width: 768px) {
    .blog-thumbnail {
        display: none;
    }
    .blog-link {
        text-align: center;
    }
}

@media all and (max-width: 375px) {
    .navigation-bar-container {
        flex-direction: column;
    }
}